<!DOCTYPE html>
<html dir="rtl">
  <center>
    {% if validlink %}

    <h1 style="font-family: Arial, Helvetica, sans-serif">הגדר סיסמא חדשה</h1>
    <form style="font-family: Arial, Helvetica, sans-serif" method="POST">
      <small>
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="החלף את הסיסמא שלי" />
      </small>
    </form>

    {% else %}

    <p style="font-family: Arial, Helvetica, sans-serif">
      קישור איפוס הסיסמא לא תקין, יתכן שקישור זה שומש כבר , אנא בצע בקשת איפוס
      סיסמא חדשה.
    </p>

    {% endif %}
  </center>
</html>
